{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    "add-module-exports"
  ]
}
